In [ ]:
# 2882. Drop Duplicate Rows
# Write a solution to remove these duplicate rows and keep only the first occurrence.

In [ ]:

# Example 1:
# Input:
# +-------------+---------+---------------------+
# | customer_id | name    | email               |
# +-------------+---------+---------------------+
# | 1           | Ella    | emily@example.com   |
# | 2           | David   | michael@example.com |
# | 3           | Zachary | sarah@example.com   |
# | 4           | Alice   | john@example.com    |
# | 5           | Finn    | john@example.com    |
# | 6           | Violet  | alice@example.com   |
# +-------------+---------+---------------------+
# Output:  
# +-------------+---------+---------------------+
# | customer_id | name    | email               |
# +-------------+---------+---------------------+
# | 1           | Ella    | emily@example.com   |
# | 2           | David   | michael@example.com |
# | 3           | Zachary | sarah@example.com   |
# | 4           | Alice   | john@example.com    |
# | 6           | Violet  | alice@example.com   |
# +-------------+---------+---------------------+

In [6]:
import pandas as pd

customer = pd.DataFrame({
    'customer_id': [1, 2, 3, 4, 5, 6],
    'name': ['Ella', 'David', 'Zachary', 'Alice', 'Finn', 'Violet'],
    'email': ['emily@exmpale.com', 'michael@example.com ','john@example.com','sarah@exmaple.com','john@example.com'
              ,'alice@example.com ']
})
def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    return customers.drop_duplicates(subset='email')
    
output = dropDuplicateEmails(customer)
print(output)

   customer_id     name                 email
0            1     Ella     emily@exmpale.com
1            2    David  michael@example.com
2            3  Zachary      john@example.com
3            4    Alice     sarah@exmaple.com
5            6   Violet    alice@example.com