In [ ]:
import numpy as np
import seaborn as sns
import pandas as pd

In [ ]:
# Load an inbuilt dataset
df = sns.load_dataset("titanic")  # Example dataset
print(df.head())  # Show first 5 rows

In [ ]:
df = pd.read_csv("C:\\Code\\Numpy-Pandas\\Datasets\\pokemon_data.csv")  # Load a dataset from a file
# pd.read_excel
# pd.read_json
# pd.read_sql
# pd.read_html

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [11]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'apple':10,'banana':20,'cherry':30}
type(d)

dict

In [17]:
# Creating a Series from a list
# You can convert a list, numpy array, or dictionary to a Series:
create_series = pd.Series(data=my_list)
print(f'This is a list: \n{my_list}')
print(f'This is a series: \n{create_series}')

This is a list:
[10, 20, 30]
This is a series:
0    10
1    20
2    30
dtype: int64

In [37]:
print(f'This is original series: \n{create_series}')
modified_series = pd.Series(data=my_list, index=['x','y','z'])
print(f'This is modified series: \n{modified_series}')

This is original series:
0    10
1    20
2    30
dtype: int64
This is modified series:
x    10
y    20
z    30
dtype: int64

In [ ]:
print(modified_series[1]) #accessing element by index

20

C:\Users\Prath\AppData\Local\Temp\ipykernel_9340\506961576.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(modified_series[1])