In [10]:
import numpy as np
import seaborn as sns
import pandas as pd

In [11]:
# Load an inbuilt dataset
df = sns.load_dataset("titanic")  # Example dataset
print(df.head())  # Show first 5 rows

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [12]:
df = pd.read_csv("C:\\Code\\Numpy-Pandas\\Datasets\\pokemon_data.csv")  # Load a dataset from a file
# pd.read_excel
# pd.read_json
# pd.read_sql
# pd.read_html

In [13]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'apple':10,'banana':20,'cherry':30}
type(d)

dict

In [14]:
# Creating a Series from a list
# You can convert a list, numpy array, or dictionary to a Series:
create_series = pd.Series(data=my_list)
print(f'This is a list: \n{my_list}')
print(f'This is a series: \n{create_series}')

This is a list:
[10, 20, 30]
This is a series:
0    10
1    20
2    30
dtype: int64

In [15]:
print(f'This is original series: \n{create_series}')
modified_series = pd.Series(data=my_list, index=['x','y','z'])
print(f'This is modified series: \n{modified_series}')

This is original series:
0    10
1    20
2    30
dtype: int64
This is modified series:
x    10
y    20
z    30
dtype: int64

In [16]:
print(modified_series[1]) #accessing element by index

20

C:\Users\Prath\AppData\Local\Temp\ipykernel_22688\1877399633.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(modified_series[1]) #accessing element by index

In [17]:
myarray = [2,34,54,56, 88, 38, 99, 100]
labels = ['a','b','c','d','e','f','g','h']
len(myarray)
arrayseries = pd.Series(data=myarray, index= labels) #creating a series from a list
arrayseries

a      2
b     34
c     54
d     56
e     88
f     38
g     99
h    100
dtype: int64

In [ ]:
#dataframes are a collection of series
#used to store tabular data
data = {
    'Name': ['Loki', 'Thor', 'Hulk', 'Ironman'],
    'Age':[100, 200, 300, 400],
    'Power':['Magic', 'Thunder', 'Strength', 'Intelligence']
}
print(pd.DataFrame(data)) #creating a dataframe from a dictionary

      Name  Age         Power
0     Loki  100         Magic
1     Thor  200       Thunder
2     Hulk  300      Strength
3  Ironman  400  Intelligence

In [21]:
#Adding two series
ser1 = pd.Series([1,2,3,4],['USA', 'Germany', 'USSR', 'Japan'])
ser2 = pd.Series([1,2,5,4],['USA', 'Germany', 'Italy', 'Japan'])
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64