In [29]:
import pandas as pd
import numpy as np

In [30]:
from numpy.random import randn

In [31]:
# Selection and Indexing
# Let's learn the various methods to grab data from a DataFrame

In [32]:
np.random.seed(20)
df = pd.DataFrame(randn(5,4),index='A,B,C,D,E'.split(','),columns='W,X,Y,Z'.split(','))
print(df)

          W         X         Y         Z
A  0.883893  0.195865  0.357537 -2.343262
B -1.084833  0.559696  0.939469 -0.978481
C  0.503097  0.406414  0.323461 -0.493411
D -0.792017 -0.842368 -1.279503  0.245715
E -0.044195  1.567633  1.051109  0.406368

In [33]:
# df.X
# df.count
df['X'].dtype
type(df[['X']])
# df[['X','Y','Z']]

pandas.core.frame.DataFrame

In [43]:
df['new_col'] = df['W'] + df['Y']
df['Temp'] = [10,20,30,40,50]
print(df)

          W         X         Y         Z   new_col  Temp
A  0.883893  0.195865  0.357537 -2.343262  1.241430    10
B -1.084833  0.559696  0.939469 -0.978481 -0.145363    20
C  0.503097  0.406414  0.323461 -0.493411  0.826558    30
D -0.792017 -0.842368 -1.279503  0.245715 -2.071519    40
E -0.044195  1.567633  1.051109  0.406368  1.006914    50

In [42]:
dropdf = df.drop('Temp',axis=1)
dropdf

          W         X         Y         Z   new_col
A  0.883893  0.195865  0.357537 -2.343262  1.241430
B -1.084833  0.559696  0.939469 -0.978481 -0.145363
C  0.503097  0.406414  0.323461 -0.493411  0.826558
D -0.792017 -0.842368 -1.279503  0.245715 -2.071519
E -0.044195  1.567633  1.051109  0.406368  1.006914