In [21]:
import pandas as pd

In [22]:
# Sales data for 2023
sales_2023 = pd.DataFrame({
    'month': ['Jan', 'Feb', 'Mar'],
    'sales': [10000, 15000, 12000]
})

# Sales data for 2024
sales_2024 = pd.DataFrame({
    'month': ['Apr', 'May', 'Jun'],
    'sales': [18000, 20000, 17000]
})

In [23]:
from IPython.display import display  

display(sales_2023)  
display(sales_2024)

  month  sales
0   Jan  10000
1   Feb  15000
2   Mar  12000

  month  sales
0   Apr  18000
1   May  20000
2   Jun  17000

In [ ]:
def concat_dataframes(sales_2023, sales_2024):

    # return pd.concat([sales_2023, sales_2024],ignore_index=True) #ingore_index=True will reset the index and make it continuous
    # return pd.concat([sales_2023, sales_2024],axis=False) #axis is True means row wise and False means column wise
    # return pd.concat([sales_2023, sales_2024],axis = True, ignore_index = False, join = 'outer') #join = 'outer' will take all the columns from both the dataframes
    

    


output = concat_dataframes(sales_2023, sales_2024)
display(output)

  month  sales month  sales
0   Jan  10000   Apr  18000
1   Feb  15000   May  20000
2   Mar  12000   Jun  17000